.App-header {
  background-color: #282c34;
  text-align: center;
}

.App-header span {
  position:relative;
  font-size: 28px;
  color: white;
  bottom:2px;}

.App-header img {
  position:relative;
  right:3px;
  top:1px;
}

.TaskList {
  padding-left: 10px;
}

.Task {
  position: relative;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  margin:5px 20% 5px 20%;
  height: 50px;
}

.TaskControls {
  position: absolute !important;
  left:2px;
}

.TaskClose {
  position: absolute;
  top:2px;
  right:2px;
  border-width: 0;
  border-radius: 2px;
  padding:1px;
  width: 12px;
  font-size: 10px;
  background-color:rgb(80, 80, 80);
  color: aliceblue;
  cursor: fin;
}

.AddTaskButton {
  position:absolute;
  padding-top: 5px;
  left:50%;
  transform: translateX(-50%);
}

.AddTaskButton Button {
  margin-left: 10px;
}

.TaskInput {
  width: 250px;
}

.StartButton {
  margin-left: 10px;
}

.CurrentTime {
  position: absolute;
  left:65px;
  bottom:2px;
}

.TotalTime {
  position: absolute;
  right:2px;
  bottom:2px;
}

.StarCounter {
  position: relative;
  top:8px;
}

.StarCounter span {
  position:relative;
  bottom:3px;
  font-size: 14px;
}